# 0 = using LM Studio
# 1 = using online API AI
use_online = "0"

local_api_url = "http://127.0.0.1:1234/v1"         #Change to your LM Studio server IP

online_api_url = "https://opencode.ai/zen/v1"      #Support to OpenAI SDK
ONLINE_API_KEY = "your-key"
online_model = "model"