# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

online_demo/

# Environment
.env

# Archives
*.7z
*.zip
*.tar.gz

# Logs
*.log
raw.txt

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
